<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/lightbox.min.css" />
    <script src="../js/lightbox-plus-jquery.min.js"></script>
    <title>Seohee KANG</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="../index.html">WORK</a></li>
          <li><a href="resume.html">RESUME</a></li>
          <li>
            <a href="mailto:seohee.rings@gmail.com" target="_blank">CONTACT</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="downloadResume">
        <div class="download">
          <p>
            <a href="../assets/Seohee Kang - Resume.pdf">Download</a> my resume!
          </p>
        </div>
      </section>
      <section class="experience">
        <div class="headline">
          <h1>Experience</h1>
        </div>
      </section>
      <section class="experience">
        <div class="headline">
          <h2>
            LF Mall
            <span class="title"> Photo Editor (Freelance)</span
            ><span class="location">Seoul, South Korea</span>
          </h2>
        </div>
        <div class="dates">Jan 2018 - Present</div>
        <article class="achievements">
          <ul>
            <li>Utilized Adobe Photoshop to edit and correct product images</li>
            <li>Followed LF Mall’s image guidelines for all product images</li>
          </ul>
        </article>
      </section>
      <section class="experience">
        <div class="headline">
          <h2>
            IZ Art
            <span class="title"> Art Teacher</span
            ><span class="location">Seoul, South Korea</span>
          </h2>
        </div>
        <div class="dates">Oct 2016 - Oct 2018</div>
        <article class="achievements">
          <ul>
            <li>
              Instructed pre-K and K students in various forms of art ranging
              from painting, to craft building, and sculpting
            </li>
            <li>
              Instructed older students to give detailed explanations or
              background stories about their works
            </li>
          </ul>
        </article>
      </section>
      <section class="experience">
        <div class="headline">
          <h2>
            LYCANTHROPE
            <span class="title"> Associate Manager</span
            ><span class="location">Seoul, South Korea</span>
          </h2>
        </div>

        <div class="dates">Sep 2014 - Jul 2015</div>
        <article class="achievements">
          <ul>
            <li>
              Created new, innovative package designs for Ly-can products with
              Adobe Illustrator
            </li>
            <li>
              Created product brochures for Ly-can products using Adobe InDesign
            </li>
            <li>
              Created, and redesigned exhibition-worthy product banners with
              Adobe Illustrator
            </li>
            <li>
              Engaged in product photography and created splash images for new
              products for the company’s website with Adobe Photoshop
            </li>
            <li>
              Provided English translation for all products to be used for the
              company’s English website
            </li>
            <li>Engaged in domestic customer service</li>
          </ul>
        </article>
      </section>
      <section class="experience">
        <div class="headline">
          <h2>
            PLUS Art Academy
            <span class="title"> Art Teacher</span
            ><span class="location">Seoul, South Korea</span>
          </h2>
        </div>
        <div class="dates">May 2013 - Jan 2014</div>
        <article class="achievements">
          <ul>
            <li>
              Instructed college-aged adults in illustration, brainstorming,
              poster creation, and Corporate Identity
            </li>
          </ul>
        </article>
      </section>
      <section class="experience">
        <div class="headline">
          <h2>
            Ally Fashion
            <span class="title"> Accessories Team Assistant</span
            ><span class="location">Australia</span>
          </h2>
        </div>

        <div class="dates">Mar 2012 - Aug 2012</div>
        <article class="achievements">
          <ul>
            <li>6 month internship program</li>
            <li>
              Composed detailed reports on seasonal trends
            </li>
            <li>
              Composed detailed product reports and product sales reviews
            </li>
            <li>
              Assisted with the supervision of imported product materials
            </li>
          </ul>
        </article>
      </section>
      <section class="experience">
        <div class="headline">
          <h2>
            Cultural Infusion
            <span class="title"> Graphic Designer</span
            ><span class="location">Australia</span>
          </h2>
        </div>

        <div class="dates">June 2011 - Dec 2011</div>
        <article class="achievements">
          <ul>
            <li>6 month internship program</li>
            <li>
              Created new product brochures
            </li>
            <li>
              Edited and corrected product images
            </li>
            <li>
              Produced PR materials
            </li>
          </ul>
        </article>
      </section>

      <section class="technologies">
        <div class="icons">
          <ul>
            <li>
              <div class="info">
                <img
                  src="../assets/icons/photoshop.png"
                  alt="Adobe Photoshop"
                />
              </div>
              <p>Photoshop</p>
            </li>
            <li>
              <div class="info">
                <img
                  src="../assets/icons/illustrator.png"
                  alt="Adobe Illustrator"
                />
              </div>
              <p>Illustrator</p>
            </li>
            <li>
              <div class="info">
                <img src="../assets/icons/indesign.png" alt="Adobe InDesign" />
              </div>
              <p>InDesign</p>
            </li>
          </ul>
        </div>
      </section>

      <section class="education">
        <h2>Education</h2>
        <div class="headline">
          <h2>
            Kyunghee University
            <span class="location">Yongin, South Korea</span>
          </h2>
        </div>
        <div class="major">
          <p>
            Visual Information Design
          </p>
        </div>
        <div class="dates">2006 - 2010</div>
      </section>
    </main>
    <footer>
      <section class="bottom">
        <p>Seohee KANG - A Portfolio&copy;</p>
        <p>Lightbox&copy; by [Lokesh Dhakar](http://www.lokeshdhakar.com)</p>
      </section>
    </footer>
  </body>
</html>
